.img50{
    height: 400px;
}


img{
    border: 2px solid #d8d8d8;
    border-radius: 5px;
}
#img1{
    float:right;
    margin: 0 0 10px 10px;
}


#img2{
    float: right;
    width: 25%;
    height: 25%;
}

p{
    font-family: 'Indie Flower', cursive;
}

